body
{
background-color:#AAB5AA
}
{
font-family:"Palatino Linotype";
font-size:30px;
  
pre, code {
  font-family: monospace, monospace;
}
pre {
  overflow: auto;
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}
