body {
	background-color:#F7F0F5 !important;
}
.navbar-custom {
    background-color: #4E5D5A;
    border-radius: 0;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #F7F0F5;
	font-family: Georgia, serif;
}
.navbar-custom .navbar-nav > li > a {
	color: #F7F0F5;
	font-family: Georgia, serif;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
	background-color: #93B1A7;
}
.navbar-custom .navbar-text {
	color: #F7F0F5;
}
.navbar-custom .navbar-toggle {
	border-color: #F7F0F5;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
	background-color: #C5C9A2;
}
.navbar-custom .navbar-toggle .icon-bar {
	background-color: #014776;
}

.jumbotron {
	background-image:url("https://newevolutiondesigns.com/images/freebies/abstract-background-14.jpg");
	height: 500px;
	background-size: auto 100%;
}


footer {
	background-color: #131b23;
	padding: 25px;
}
